.appContainer {
	display: flex;
}

.mainContent {
	width: 100%;
	padding-top: 63px;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: var(--background-gradient-faded);
	background-attachment: fixed;
	z-index: -1;
}
