.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 80px;
	height: 100%;
	background-color: #f4f4f4;
	border-right: 2px solid var(--text-color);
	display: flex;
	flex-direction: column;
	z-index: 998;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	align-items: center;
	justify-content: center;
	background-image: var(--background-gradient);
}

.logo {
	font-size: 24px;
	margin-bottom: 20px;
}

.logo a {
	text-decoration: none;
	color: var(--text-color);
}

.iconSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	background-color: #e0e0e0;
	padding: 10px;
	border-radius: 20px;
}

.iconLink {
	position: relative;
	font-size: 40px;
	color: var(--text-color);
	text-decoration: none;
	width: 40px;
}

.iconLink svg {
	width: 100%;
}

.iconActiveLine {
	position: absolute;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
	height: 60%;
	width: 4px;
	background-color: var(--text-color);
	border-radius: 20px;
	display: none;
}

.iconLink.active .iconActiveLine {
	display: block;
}
