.tasks-content {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 100vh;
  margin-top: 30px;
}

.tasks-content h2 {
  font-size: 32px;
}

.task {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  margin: auto;
  font-weight: 400;
}

.task:hover {
  background-color: var(--opacity-white);
}

.dueDate {
  display: block;
  font-size: 15px;
  background-color: var(--opacity-black);
  justify-content: center;
  border-radius: 20px;
  padding: 0px 5px;
  margin-left: 10px;
  color: wheat;
}
