.widget {
  background-color: var(--main-color);
  grid-column: span 1;
  border-radius: 20px;
}

.widget:nth-of-type(1),
.widget:nth-of-type(4),
.widget:nth-of-type(5) {
  grid-column: span 2;
}

.widgetHead {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid var(--text-color);
}

.widgetHead li {
  display: inline;
}

.widgetHead ul {
  display: flex;
  padding-left: 10px;
  margin: 0;
}

.widgetHead .title-icon {
  font-size: 45px;
}

.widgetHead .icon {
  margin: 2px 3px 0px 0px;
  padding: 3px 2px 3px 2px;
  font-size: 40px;
  position: relative;
}

.widgetHead .chevron {
  margin-left: 10px;
  margin-top: 8px;
  height: 22px;
  padding: 1px;
}

.widgetHead .chevron:last-child {
  margin-left: 5px;
}

.widgetHead .chevron:hover {
  background-color: var(--alt-color);
  border-radius: 6px;
  cursor: pointer;
}

.widgetTitle {
  margin-left: 5px;
  margin-top: 5px;
}

.widgetBody {
  height: 273px;
}

@media (max-width: 1090px) {
  .widget:nth-of-type(1),
  .widget:nth-of-type(4),
  .widget:nth-of-type(5) {
    grid-column: span 1;
  }
}
